<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">




<h1>  Editar subasta </h1>

<% if current_user.try(:admin?) %>
	<%= form_for @auction do |f| %>
		
		<div class="form-group">
        <%= f.label :name, 'NOMBRE' %>
       

        <p></p>
		<div>
		
				<%= f.label :des, 'DESCRIPCION' %>
  				<%= f.text_field :des, class: 'form-control', required: true %>
  		
  		</div>
<p></p>
  		<div>
			
				<%= f.label :monto, 'MONTO' %>
  				<%= f.number_field :monto, class: 'form-control', required: true %>
  		
  		</div>
<p></p>
  		<div>
			
				<%= f.label :minimapuja, 'PUJA MINIMA' %>
  				<%= f.number_field :minimapuja, class: 'form-control',required: true %>
  			
  		</div>
<p></p>

  		<%= f.submit "Editar subasta", class: 'btn btn-primary' %>
      <%= link_to "Volver", auctions_path, class: 'btn btn-primary' %>
  	</div>
<% end %>
<% end %>
  <div class="col-md-3"></div> 

</div>
</div>