<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">



<table class="table">
	<thead>
		<tr>
			<th>NOMBRE</th>
			<th>DESCRIPCION</th>
			<% if current_user.try(:admin?) %>
			<th>MONTO</th>
			<th>PUJA MINIMA</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @auction.each do |r| %>
			<tr>
				<td><%= r.name %></td>
				<td><%= r.des %></td>
				<td><%=link_to 'ver', r, method: :show , class: 'btn btn-success'%></td>
				<% if current_user.try(:admin?) %>
				<td><%= r.monto %></td>
				<td><%= r.minimapuja %></td>
				<td><%=link_to 'editar', edit_auction_path(r), class: 'btn btn-info'%></td>
				<td><%=link_to 'eliminar', r, method: :delete,  class: 'btn btn-danger', data: { confirm: 'Realmente desea eliminar subasta?'} %></td>
				<% end %>
			</tr> 
		<%end%>

	</tbody>
</table>
<% if current_user.try(:admin?) %>
<%= link_to 'Nueva subasta', new_auction_path, class: 'btn btn-primary'%>
<% end %>

  <div class="col-md-3"></div> 

</div>
</div>