<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">



<table class="table">
	<thead>
		<tr>
			<th>Residencia</th>
			<th>Semana del:</th>
			
			<th>Base</th>
			<th>Estado</th>
			<% if current_user.try(:admin?) %>
			<th>Puja Minima</th>
			<th></th>
			<% end %>
		</tr>
	</thead>
<tbody>
		<% @auction.each do |r| %>
			<tr> <% @r = Residence.find(r.residence_id) %>
       		 <td> <%=  @r.name  %></td>
		     <% date = DateTime.parse(r.weekdate)%>
         	 <td><%= date.strftime('%d/%m/%Y')   %></td>					
			 <td><%= r.monto %></td>
			 <td><%=r.name  %></td>
			
			<% if current_user.try(:admin?) %>
				<td><%= r.minimapuja %></td>
			<% end %>
				
			<% if r.name == "iniciada" %>
				<td><%=link_to 'ver', r, class: 'btn btn-success'%></td>
			<% end %>
				
			<% if current_user.try(:admin?) %>
					<%=link_to 'editar', finalizar_auction_path(r), class: 'btn btn-info'%>
				<td><%=link_to 'editar', edit_auction_path(r), class: 'btn btn-info'%></td>
				<td><%=link_to 'Finalizar', r, method: :delete,  class: 'btn btn-danger', data: { confirm: 'Realmente desea finalizar subasta?'} %>
			<% end %>

			</td>
				<% end %>
			</tr> 		
	</tbody>
</table>

  <div class="col-md-3"></div> 

</div>
</div>

