<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">



<table class="table">
	<thead>
		<tr>
			<th>Residence ID</th>
			<th>Semana</th>
			
			<th>MONTO</th>
				<% if current_user.try(:admin?) %>
			<th>PUJA MINIMA</th>
							<% end %>

		
		</tr>
	</thead>
	<tbody>
		<% @auction.each do |r| %>
			<tr>
				<td><%= r.residence_id %></td>
				<td><%= r.weekdate %></td>
				
			
				<td><%= r.monto %></td>
	<% if current_user.try(:admin?) %>
				<td><%= r.minimapuja %></td>
					<% end %>
				<td><%=link_to 'ver', r, class: 'btn btn-success'%></td>
				<% if current_user.try(:admin?) %>
				<td><%=link_to 'editar', edit_auction_path(r), class: 'btn btn-info'%></td>
				<td><%=link_to 'eliminar', r, method: :delete,  class: 'btn btn-danger', data: { confirm: 'Realmente desea eliminar subasta?'} %>
						<% end %>

				</td>
				<% end %>
			</tr> 
		

	</tbody>
</table>

  <div class="col-md-3"></div> 

</div>
</div>

