<h1>  Crea una nueva subasta </h1>



	<%= form_for @auction do |f| %>
		
		<div class="row">
			<div class="col-md-4">
				<%= f.label :name, 'NOMBRE' %>
  				<%= f.text_field :name, class: 'form-control' %>
  			</div>
  		</div>


		<div class="row">
			<div class="col-md-6">
				<%= f.label :des, 'DESCRIPCION' %>
  				<%= f.text_field :des, class: 'form-control' %>
  			</div>
  		</div>

  		  		<div class="row">
			<div class="col-md-6">
				<%= f.label :monto, 'MONTO' %>
  				<%= f.text_field :monto, class: 'form-control' %>
  			</div>
  		</div>

  		<div class="row">
			<div class="col-md-6">
				<%= f.label :minimapuja, 'PUJA MINIMA' %>
  				<%= f.text_field :minimapuja, class: 'form-control' %>
  			</div>
  		</div>

  		<%= f.submit "Crear subasta", class: 'btn btn-primary' %>
  	</div>
<% end %>