<h1>  Crea una nueva subasta </h1>

<% if @auction.errors.any? %>
    <div class="alert alert-danger">Hay errores
    <% @auction.errors.full_messages.each do |error| %>
      <p> <%= error%> </p>
    <%end%></div>
  <% end %>


	<%= form_for @auction do |f| %>
      <div class="form-group">
        <%= f.label :name, 'NOMBRE' %>
        <%= f.collection_select :name, Residence.all, :name , :name ,{}, class: 'form-control'%>
      <p></p>
		  <div>
			  <%= f.label :des, 'DESCRIPCION' %>
  		  <%= f.text_field :des, class: 'form-control' , required: true %>
  		</div>
  		<p></p>
  		<div>
				<%= f.label :monto, 'MONTO' %>
  			<%= f.text_field :monto, class: 'form-control', required: true %>
  			</div>
  		</div>
      <p></p>
  		<div>
				<%= f.label :minimapuja, 'PUJA MINIMA' %>
  			<%= f.text_field :minimapuja, class: 'form-control', required: true %>
  		</div>

      <p></p>

  		<%= f.submit "Crear subasta", class: 'btn btn-primary' %>
      <%= link_to "Volver", auctions_path, class: 'btn btn-primary' %>

  	</div>
<% end %>