<div class="container">
  <%= form_for @auction do |f| %>

  <div class="form_group">
    <%= f.label :residence, 'Elija la residencia:' %>
    <%= f.collection_select :residence, Residence.all, :id, :name, {}, class: 'form-control' %>
  </div>
  <br>
  <div class="row">
    <%= f.label :"Puja maxima:" %>
    <%= f.number_field :maxbid, required: true, class: 'form-control' %>
  </div>
  <br>
  <div class="form_group">
    <%= f.label :dateStart, 'Indique la fecha de inicio de la subasta:' %>
    <%= f.date_select :dateStart, start_year: Date.today.year, :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], :order => [:day, :month, :year], required: true, class: 'form-control' %>
  </div>
  <br>
  <%= link_to "Volver", auctions_path, class: 'btn btn-secondary' %>
  <%= f.submit 'Guardar', class: 'btn btn-primary' %>

  <% end %>

</div>