<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">


<% if user_signed_in? %>
<%= @auction.name %>
<%= @auction.des %>
<%= form_for @auction do |f| %>
<div class="row">
			<div class="col-md-4">
				<%= f.label :monto, 'PUJA' %>
  				<%= f.text_field :monto, class: 'form-control' %>
  			</div>
  		</div>

  			<%= f.submit "PUJAR", class: 'btn btn-primary' %>
  			<%= link_to "Volver", auctions_path, class: 'btn btn-primary' %>

  			  
<% end %>
<% end %>
  <div class="col-md-3"></div> 

</div>
</div>