
<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">
 
  <h1>Perfil</h1>
  
<div class="profile">
  <table class="profile-table">
    
    <tr>
      <td class="bold"> Email </td>
      <td class="profile-field"><%= @user.email %></td>
    </tr>
    <tr>
      <td class="bold"> Creado el </td>
      <td class="profile-field"><%= @user.created_at %></td>
    </tr>
    <tr><% if @user.admin? %>
      <td class="bold"> Administrador </td>
      <td class="profile-field"><%= @user.admin %></td>
    </tr>
  </table>
</div>
  <%else%>
    <p> Creditos: <%= @user.creditos %> </p>
    <p> Usuario Premium: <%= @user.premium %> </p>

    
    <% if !current_user.admin? %> 
      <% if current_user.premium == "no" %> 
          <tr><%= link_to "Pasar a ser premium", apply_premium_user_path, class: 'btn btn-info' %></tr>
      <% end %>
    <% else %> 
      <% if @user.premium == "solicitado" %> 
        <tr><%= link_to "Habilitar usuario a ser premium", enable_premium_user_path, class: 'btn btn-info' %></tr>
      <% else %>
        <% if @user.premium == "si" %> 
          <tr><%= link_to "Desabilitar usuario de condicion premium", disable_premium_user_path, class: 'btn btn-danger' %></tr>
        <% end %>
      <% end %>
    <% end %>

    
  <% end %>


  <table class="table">
  <thead>
    <tr>
      
      <th>RESIDENCIA</th>
      <th>Semana del:</th>
      <th>Modo </th>
       <th>      </th>   
    </tr>
  </thead>
  <tbody>
    <% @reservas = @user.reservations %>
    <% @reservas.each do |r| %>
      <tr>
              
        <% @r = Residence.find(r.residence_id) %>
        <td><%=  @r.name  %></td>

        <% date = DateTime.parse(r.weekdate)%>
         <td><%= date.strftime('%d/%m/%Y')   %></td>
        <td><%= r.modo  %></td>
        <td><%=link_to 'Cancelar reserva', r , method: :delete,  class: 'btn btn-danger', data: { confirm: 'Realmente desea eliminar reserva?'} %></td>
 
        <% end %>
      </tr> 
    

  </tbody>
</table>
  <td><%= link_to "Volver", root_path, class: 'btn btn-secondary' %></td>
  <td><%= link_to "Editar perfil", edit_user_registration_path(@user), class: 'btn btn-dark '%></td>

</div>
 <div class="col-md-3"></div> 

</div>
</div>