<div class="centered">
	<h1> Listado de Usuarios </h1>  <!-- TABLA DE USUARIOS-->
	<br>
	<table class="table">

		<tr>
			
			<th> Email </th>
			
			<th> Categoria Premium </th>
		</tr>

			<% users = User.all %>
			<% users.each do |user| %>
				
				<% if not user.admin%> <!--Solo muestro a los usuarios -->
					<tr>
						<!-- TAL VEZ NO SEA NECESARIO INGRESAR A VER EL PERFIL DEL USUARIO COMO ADMINISTRADOR
						<td> <%= link_to user.userName, user, class: 'btn btn-link btn-sm' %> </td>
						--> 
						
						<td> <%= user.email %> </td>
						

						<%if user.premium == "si" %>
							<td>SI</td>
						<% else %>
							<%if user.premium == "solicitado" %>
								<td>SOLICITADO</td>
							<% else %>
								<td>NO</td>
							<% end %>
						<% end %>

						 <!-- Si soy admin vere este boton de hacer premium o no-->
						<% if current_user.admin? %>
					      <% if user.premium == "solicitado" %> <!--Revisa si el usuario que esta mirando el administrador solicito ser premium-->
					        <td><%= link_to "Hacer Premium", enable_premium_user_path(user), class: 'btn btn-warning' %></td>
					      <% else %> 
					        <% if user.premium == "si" %> <!--Si no entro en el anterior if, pregunta si ya es un usuario premium-->
					          <td><%= link_to "Baja Premium", disable_premium_user_path(user), class: 'btn btn-info' %></td>
					      	<% else %> 
					      		<td></td>
					      	<% end %>
					      <% end %>
					    <% end %>

			      		<td><%= link_to "Borrar", user, method: :delete,  class: 'btn btn-danger btn-sm', data: { confirm: 'Realmente desea borrar este usuario?'}%></td>
					</tr>
				<% end %>
			<% end %>

			<% if users.size == 0 %>
				<tr> <td colspan="3"> No hay usuarios </td> </tr>
			<% end %>

	</table>

		
		<p> <%= link_to "Volver a pagina de inicio", root_path, class: 'btn btn-secondary' %> </p>
</div>
