<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">


<h1>  Crea una nueva residencia </h1>


	<%= form_for @residence do |f| %>
		
	   <div>
      <div>
        <%= f.label :name, 'NOMBRE' %>
          <%= f.text_field :name, class: 'form-control',required: true %>
        </div>
      </div>

      <p></p>
    <div>
      <div>
        <%= f.label :des, 'DESCRIPCION' %>
          <%= f.text_field :des, class: 'form-control',required: true %>
        </div>
      </div>
<p></p>
<div>
      <div>
        <%= f.label :pais, 'PAIS' %>
          <%= f.text_field :pais, class: 'form-control',required: true %>
        </div>
      </div>
<p></p>
      <div><div>
      <div>
        <%= f.label :provincia, 'PROVINCIA' %>
          <%= f.text_field :provincia, class: 'form-control',required: true %>
        </div>
      </div>
<p></p>
<div>
      <div>
        <%= f.label :localidad, 'LOCALIDAD' %>
          <%= f.text_field :localidad, class: 'form-control',required: true %>
        </div>
      </div>
<p></p>
      <div>
        <%= f.label :location, 'URL IMAGEN' %>
          <%= f.text_field :location, class: 'form-control', required: true %>
        </div>

  		<p></p>
  		<%= f.submit "Editar residencia", class: 'btn btn-primary' %>
      <%= link_to "Volver", residences_path, class: 'btn btn-primary' %>
  	
<% end %>

  <div class="col-md-3"></div> 

</div>
</div>