 

<table class="table">
	<thead>
		<tr>
			<th>NOMBRE</th>
			<th>DESCRIPCION</th>
		</tr>
	</thead>
	<tbody>
		<% @residences.each do |r| %>
			<tr>
				<td><%= r.name %></td>
				<td><%= r.des %></td>
				<td><%=link_to 'editar', edit_residence_path(r), class: 'btn btn-default'%></td>
				<td><%=link_to 'eliminar', r, method: :delete,  class: 'btn btn-danger'%></td>
			</tr>
		<% end %>
	</tbody>
</table>
<p></p>
<div class="row">
<%= link_to 'Nueva residencia', new_residence_path, class: 'btn btn-primary' %>
</div>

