<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">

<div id="demo" class="carousel slide" data-ride="carousel">

 
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://lgtv.cl.s3.amazonaws.com/wp-content/uploads/2015/05/16123335/LG-grupos-socioeconomicos-800x400.jpg" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/noticias/videojuegos/minecraft-bate-records-en-xbox-live-arcade/5550658-1-esl-ES/Minecraft-bate-records-en-Xbox-Live-Arcade.jpg?crop=1xw:0.8888888888888888xh;center,top&resize=1200:*" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="http://www.toursbariloche.com/wp-content/uploads/2016/05/BLEST1-800x400.jpg" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<p>
<%= form_tag(residences_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Buscar' %>
<% end %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th>DESCRIPCION</th>
      <th>PAIS</th>
      <th>PROVINCIA</th>
      <th>LOCALIDAD </th>
      
    </tr>
  </thead>
  <tbody>
    <% for residence in @residences %>
      <tr>
        <td><%= residence.name %></td>
        <td><%= residence.des %></td>
        <td><%= residence.pais %></td>
        <td><%= residence.provincia %></td>
        <td><%= residence.localidad %></td>
       
        <td></td>
        <td>
          <%=link_to 'ver', residence, method: :show, class: 'btn btn-success'%>
          <% if current_user.try(:admin?) %>
          <%=link_to 'editar', edit_residence_path(residence), class: 'btn btn-info'%>
          <%=link_to 'eliminar', residence, method: :delete,  class: 'btn btn-danger', data: { confirm: 'Realmente desea eliminar residencia?'} %>
          <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>
<p></p>
<div class="row">
<% if current_user.try(:admin?) %>
<%= link_to 'Nueva residencia', new_residence_path, class: 'btn btn-primary' %>
<% end %>
</div>

<div class="col-md-3"></div> 

</div>
</div>