 <nav class="navbar navbar-dark bg-dark">     
        <a class="navbar-brand" href="">Home Switch Home</a>  
              <!-- Botones para iniciar session y registrarse -->
             
                
               
                    <a href=""> <button class="btn btn-sm btn-outline-light" type="button">Iniciar Sesion</button></a>;
             
             
                <a href=""><button class="btn btn-sm btn-outline-light" type="button">Registrarse</button></a>
                   
    </nav>

<table class="table">
	<thead>
		<tr>
			<th>NOMBRE</th>
			<th>DESCRIPCION</th>
		</tr>
	</thead>
	<tbody>
		<% @residences.each do |r| %>
			<tr>
				<td><%= r.name %></td>
				<td><%= r.des %></td>
				<td><%=link_to 'editar', edit_residence_path(r)%></td>
				<td><%=link_to 'eliminar', r, method: :delete%></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Nueva residencia', new_residence_path %>

