<h1>  Crea una nueva residencia </h1>


<% if @residence.errors.any? %>
		<h1>hay errores</h1>
		<% @residence.errors.full_messages.each do |error| %>
			<p> <%= error%> </p>
		<%end%>
	<% end %>


	<%= form_for @residence do |f| %>
		
		<div class="row">
			<div class="col-md-4">
				<%= f.label :name, 'NOMBRE' %>
  				<%= f.text_field :name, class: 'form-control' %>
  			</div>
  		</div>


		<div class="row">
			<div class="col-md-6">
				<%= f.label :des, 'DESCRIPCION' %>
  				<%= f.text_field :des, class: 'form-control' %>
  			</div>
  		</div>

  		<%= f.submit "Crear residencia", class: 'btn btn-primary' %>

<div class="card mb-3">
  <img class="card-img-top" src="https://s-ec.bstatic.com/images/hotel/max1024x768/642/64264208.jpg" alt="Card image cap" width="100" height="130">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

  	</div>
<% end %>