

<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">


<img src="<%= @residence.location %>" style="max-width:100%;width:auto;height:auto;">

<h1><%= @residence.name %></h1>
<p><%= @residence.des %></p>



  <div class="col-md-3"></div> 
<% if current_user.premium == "si" %> 
	<%= form_for Reservation.new() do |f| %>
	<%= f.hidden_field :modo, value: "reserva" %>
	<%= f.week_field :weekdate %>
	<%= f.hidden_field :user_id, value: current_user.id %>	
	<%= f.hidden_field :residence_id, value: params[:id] %>

	<%= f.submit "Reservar", :class=>'btn btn-primary' %>
	<% end %>
  
<% end %>
  <p>
	<%if Hotsale.exists?(residence_id: params[:id]) %>
	<%= link_to "ESTA EN HOTSALE", :class=>'btn btn-primary' %>
	<% end %>
</p>


   <% if current_user.try(:admin?) %>

 <p><h5>Crear Hotsale</h5></p>

     <p>
    <%= form_for Hotsale.new() do |h| %>
    <%= h.label :weekdate, 'Semana' %>
    <%= h.week_field :weekdate %></p>
	<%= h.hidden_field :residence_id, value: params[:id] %>
<p>
	<%= h.label :price, 'Precio' %>
	<%= h.number_field :price, class: 'form-control', required: true %></p>
		<%= h.submit "Crear hotsale", :class=>'btn btn-primary' %>
   <% end %>
   

<p><h5>Crear Subasta</h5></p>
    <%= form_for Auction.new() do |j| %>
   
	    <%= j.label :weekdate, 'Semana' %>
	    <%= j.week_field :weekdate %></p>
		<%= j.hidden_field :residence_id, value: params[:id] %>
		<%=j.label :monto, 'Monto Base' %>
		<%= j.number_field :monto, class: 'form-control', required: true %>
		<%=j.label :minimapuja, 'Puja Minima' %>
		<%= j.number_field :minimapuja, class: 'form-control', required: true %>
		<%= j.submit "Crear Subasta", :class=>'btn btn-primary' %>
   <% end %>
    <% end %>

    <%= link_to "Volver", residences_path, class: 'btn btn-link' %>
</div>
</div>