

<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">


<img src="<%= @residence.location %>" style="max-width:100%;width:auto;height:auto;">

<h1><%= @residence.name %></h1>
<p><%= @residence.des %></p>
<%= link_to 'ni', new_reservation_path, class: 'btn btn-primary' %>
<%= link_to "Volver", residences_path, class: 'btn btn-link' %>

  <div class="col-md-3"></div> 

	<%= form_for Reservation.new() do |f| %>
	<%= f.week_field :weekdate %>
	
	<%= f.hidden_field :user_id, value: current_user.id %>	
	<%= f.hidden_field :residence_id, value: params[:id] %>

	<%= f.submit "Reservar", :class=>'btn btn-primary' %>
	<% end %>
   <% if current_user.try(:admin?) %>
          <%= form_for Hotsale.new() do |h| %>

	<%= h.hidden_field :residence_id, value: params[:id] %>
	<%= h.number_field :price, class: 'form-control', required: true %>
		<%= h.submit "Crear hotsale", :class=>'btn btn-primary' %>
   <% end %>
    <% end %>
</div>
</div>