

<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">


<img src="<%= @residence.location %>" style="max-width:100%;width:auto;height:auto;">

<h1><%= @residence.name %></h1>
<p><%= @residence.des %></p>

<%if Auction.exists?(residence_id: params[:id]) %>
	<%= link_to "FECHAS EN SUBASTA DISPONIBLES", auctions_path , :class=>'btn btn-success' %>
<% else %>

<div class="col-md-3"></div>

<h5>Reserva directa: </h5>
<% if current_user.premium == "si" %> 
  <%if current_user.creditos > 0 %>
	<%= form_for Reservation.new() do |f| %>
	<%= f.hidden_field :modo, value: "reserva" %>
	<%= f.week_field :weekdate, min: Date.today + 180 %>
	<%= f.hidden_field :user_id, value: current_user.id %>	
	<%= f.hidden_field :residence_id, value: params[:id] %>
	<%= f.submit "Reservar", :class=>'btn btn-primary' %>
	<% end %>
<% else %>
     <h6>No dispone de creditos para poder reservar</h6>
<% end %>
<% end %>
<% end %>
  <p>
	<%if Hotsale.exists?(residence_id: params[:id]) %>
	<%= link_to "FECHAS EN HOTSALE DISPONIBLES", hotsales_path , :class=>'btn btn-warning' %>
	<% end %>
</p>

<% if current_user.try(:admin?) %>


<%= form_for Hotsale.new() do |h| %>
	<div class="form-group">
		<%= h.hidden_field :residence_id, value: params[:id] %>
	</div>
	
	<div class="form-group">
	<%= h.label :price, 'Precio del hot sale' %>
	<%= h.number_field :price, class: 'form-control', placeholder: 'Ingrese el valor del hotsale', required: true, min: 0 %>
	</div>

	
  	<div class="form-group">
		<%= h.label :weekdate, 'Semana en hot sale' %></br>
		<%= h.week_field :weekdate, min: Date.today, max: Date.today + 180, required: true %>
	</div>

  	<%= h.submit 'Guardar hot sale', class: 'btn btn-primary' %>
	<% end %>

   

<p><h5>Crear Subasta</h5></p>
    <%= form_for Auction.new() do |j| %>
   		<%= j.hidden_field :name, value: "iniciada" %>
	    <%= j.label :weekdate, 'Semana' %>
	    <%= j.week_field :weekdate, min: Date.today + 180, required: true %>
		<%= j.hidden_field :residence_id, value: params[:id] %>
		<%= j.label :monto, 'Monto Base' %>
		<%= j.number_field :monto, class: 'form-control', required: true %>
		<%= j.label :minimapuja, 'Puja Minima' %>
		<%= j.number_field :minimapuja, class: 'form-control', required: true %>
		<%= j.submit "Crear Subasta", :class=>'btn btn-primary' %>
   <% end %>
<% end %>

    <%= link_to "Volver", residences_path, class: 'btn btn-link' %>
</div>
</div>