<div class="container">
  <div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-6">



<h1>  Crea una nueva hotsale </h1>
<% if current_user.try(:admin?) %>



	<%= form_for @hotsale do |f| %>
    <!--  <div class="form-group">

      <p></p> FALTA ESTO DE RESIDENCIA ID -->
		  <div>
			  <%= f.label :price, 'PRECIO' %>
  		  <%= f.text_field :price, class: 'form-control' , required: true %>
  		</div>
  		<p></p>
  	

  		<%= f.submit "Crear hotsale", class: 'btn btn-primary' %>
      <%= link_to "Volver", hotsales_path, class: 'btn btn-primary' %>

  	</div>
<% end %>
<% end %>
  <div class="col-md-3"></div> 

</div>
</div>

